@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {

    :root {
      --color-accent: 50 108 204;
      --color-fg: 7 9 13;
      --color-bg: 255 255 253;
    }
  
    @media (prefers-color-scheme: dark) {
        :root {
            --color-accent: 67 138 250;
            --color-fg: 239 239 235;
            --color-bg: 24 27 33;
        }
    }
}

*::selection {
    /* todo: broken */
    color: --white;
    background: --black;
}

a {
    color: rgb(var(--color-fg));
    font-weight: normal !important;
    text-decoration: underline;
    transition-property: color;
    transition-duration: 100ms;
}
a:hover {
    color: rgb(var(--color-accent));
}

