@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --accent: #326ccc;
    --white: rgb(250, 250, 247);
    --black: rgb(110, 10, 10);
}

*::selection {
    /* todo: broken */
    color: --white;
    background: --black;
}

a {
    text-decoration: underline;
    transition-property: color;
    transition-duration: 100ms;
}
a:hover {
    color: #326ccc;
}

